! special
*.foreground:   #f0d1e0
*.background:   #47333b
*.cursorColor:  #f0d1e0

! black
*.color0:       #141414
*.color8:       #72757e

! red
*.color1:       #b54e4e
*.color9:       #e07474

! green
*.color2:       #b2b853
*.color10:      #cfd77c

! yellow
*.color3:       #c67054
*.color11:      #da884f

! blue
*.color4:       #6067ae
*.color12:      #5e9ed5

! magenta
*.color5:       #ad3dc8
*.color13:      #c76fce

! cyan
*.color6:       #78bbb2
*.color14:      #8fddd3

! white
*.color7:       #decedd
*.color15:      #d0c6d4
	
